/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
public/css/app.css
public/js/*
public/[0-9]*
public/fonts/*
composer.lock
public/mix-manifest.json

public/css/*
public/js/*
public/[0-9]*
public/fonts/*
public/mix-manifest.json